#a{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#a>div>#A_Letter{
    color: #1d0b8d;
    font-family: 'Josefin Slab', serif;
    display: inline-block;
    font-size: 110px;
    margin: 0;
}
#a>div>#A_Letter1{
    color: #1d0b8d;
    font-family: 'Josefin Slab', serif;
    display: inline-block;
    font-size: 110px;
    margin: 0;
}

#a>div>span{
    color: black;
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
}

#AboutName{
    position: absolute;
    left: 50%;
    top: 15%;
}

#a>h3{
    color:black;
    position: absolute;
    right: 18%;
    top: 34%;
    font-size: 25px;
}

#DivPara{
    width: 600px;
    position: absolute;
    right: 10%;
    top: 40%;
}

#a>div>#Para{
    color: black;
    font-family: 'Imprima', sans-serif;
    font-size: 22px;
    text-align: justify;
    position: absolute;
    top: 20px;
}

#btnDownload{
    color: white;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 66%;
    right: 20%;
    transition: 0.5s;
}

#a>a>button:hover{
    color: #000000;
    background: linear-gradient(90deg, #f5ce62, #e85a19);
    cursor: pointer;

}

#main {
    width: 370px;
    height: 365px;
    position: absolute;
    left: 160px;
    top: 177px;
}

/*--------------------------------------------media Query-------------------------------------------*/

@media all and (max-width:1024px) {
    #AboutName {
        position: absolute;
        left: 41%;
        top: 13%;
    }
    #main {
        width: 321px;
        height: 365px;
        position: absolute;
        left: 37px;
        top: 93px;
    }
    #a>h3 {
        color: black;
        position: absolute;
        right: 11%;
        top: 30%;
        font-size: 25px;
    }
    #a>div>#Para {
        left: 135px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 18px;
        text-align: justify;
        position: absolute;
    }
    #aboutImg {
        top: 39vh;
        margin: -121px auto auto;
        display: block;
        height: 448px;
        width: 441px;
        border-radius: 50%;
        border: 3px solid rgb(190, 244, 247);
        position: absolute;
        left: 53px;
    }
}

@media all and (max-width:768px) {
    #main {
        border-radius: 61px;
        width: 304px;
        height: 363px;
        position: absolute;
        left: 22px;
        top: 89px;
    }
    #a>h3 {
        color: black;
        position: absolute;
        right: 10%;
        top: 25%;
        font-size: 24px;
    }
    #a>div>#Para {
        margin-top: -34px;
        left: 281px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 20px;
        text-align: justify;
        position: absolute;
    }
    #btnDownload {
        color: white;
        background-color: plum;
        border: purple;
        border-radius: 30px;
        width: 127px;
        height: 40px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        top: 83%;
        right: 15%;
        transition: 0.5s;
    }
    #a>div>span {
        color: black;
        font-family: 'Josefin Slab', serif;
        font-size: 37px;
    }
    #a>div>#A_Letter {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 81px;
        margin: 0;
    }
    #a>div>#A_Letter1 {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 81px;
        margin: 0;
    }
    #AboutName {
        position: absolute;
        left: 45%;
        top: 11%;
    }
}
@media all and (max-width: 500px) {
    #main {
        width: 253px;
        height: 265px;
        position: absolute;
        left: 86px;
        top: 19px;
    }
    #AboutName {
        position: absolute;
        left: 4%;
        top: 44%;
    }
    #a>h3 {
        color: black;
        position: absolute;
        right: 17%;
        top: 57%;
        font-size: 20px;
    }
    #a>div>#Para {
        margin-top: 125px;
        left: 254px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 17px;
        text-align: justify;
        position: absolute;
    }
    #btnDownload {
        color: white;
        background-color: plum;
        border: purple;
        border-radius: 30px;
        width: 127px;
        height: 40px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        top: 93%;
        right: 15%;
        transition: 0.5s;
    }
}
@media all and (max-width:425px) {
    #main {
        width: 246px;
        height: 260px;
        position: absolute;
        left: 71px;
        top: 27px;
    }

    #menu-icon {
        position: absolute;
        top: 52px;
        font-size: 45px;
        left: 112px;
    }
    .t2 {
        width: content-box;
        position: absolute;
        left: 11%;
        top: 74vh;
        font-size: 34px;
        color: white;
    }
    #main {
        width: 246px;
        height: 260px;
        position: absolute;
        left: 71px;
        top: 27px;
    }
    #AboutName {
        position: absolute;
        left: 5%;
        top: 47%;
    }
    #a>h3 {
        color: black;
        position: absolute;
        right: 14%;
        top: 57%;
        font-size: 22px;
    }
    #a>div>#Para {
        margin-top: 135px;
        left: 313px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 16px;
        text-align: justify;
        position: absolute;
    }
    #btnDownload {
        color: white;
        background-color: plum;
        border: purple;
        border-radius: 30px;
        width: 127px;
        height: 39px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        position: absolute;
        top: 95%;
        right: 11%;
        transition: 0.5s;
    }
    #a>div>#A_Letter {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 65px;
        margin: 0;
    }
    #a>div>#A_Letter1 {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 65px;
        margin: 0;
    }
    #a>div>span {
        color: black;
        font-family: 'Josefin Slab', serif;
        font-size: 33px;
    }
}

@media all and (max-width:375px) {
    #main {
        width: 246px;
        height: 260px;
        position: absolute;
        left: 56px;
        top: 27px;
    }
    #a>div>#Para {
        margin-top: 111px;
        left: 321px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 14px;
        text-align: justify;
        position: absolute;
    }
    #a>h3 {
        color: black;
        position: absolute;
        right: 10%;
        top: 51%;
        font-size: 22px;
    }
    #a>div>#A_Letter {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 51px;
        margin: 0;
    }
    #a>div>#A_Letter1 {
        color: #1d0b8d;
        font-family: 'Josefin Slab', serif;
        display: inline-block;
        font-size: 51px;
        margin: 0;
    }
    #a>div>span {
        color: black;
        font-family: 'Josefin Slab', serif;
        font-size: 29px;
    }
    #AboutName {
        position: absolute;
        left: 10%;
        top: 43%;
    }
}
@media all and (max-width:320px) {
    #main {
        width: 246px;
        height: 260px;
        position: absolute;
        left: 40px;
        top: 27px;
    }
    #AboutName {
        position: absolute;
        left: 5%;
        top: 46%;
    }
    #a>div>#Para {
        margin-top: 120px;
        left: 350px;
        color: black;
        font-family: 'Imprima', sans-serif;
        font-size: 14px;
        text-align: justify;
        position: absolute;
    }
}