.contactStart>form{
    left: 0;
    right: 0;
    margin:auto;
    position: relative;

}
.contact{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
}

.contactStart{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), #3551b5), url("../assests/img/project/assignment.jpg");
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;

}
form{
    left: 50px;
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;

}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: transparent;
    font-size: 15px;

}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    padding: 10px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}
.submit{
    padding: 10px 0;
    color: #fff;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
}
.submit:hover{
    background: #2ecc71;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;

}

.contactRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactRow >.input-group{
    flex-basis: 48%;

}

/*@media all and(max-width: 320px) {*/
/*    .contactStart {*/
/*        width: 108%;*/
/*        min-height: 100vh;*/
/*        background-image: linear-gradient(rgba(0, 0, 0, 0.70), #3551b5), url(../assests/img/project/assignment.jpg);*/
/*        background-position: center;*/
/*        background-size: cover;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        justify-items: center;*/
/*        position: absolute;*/
/*}*/
/*}*/


@media all and (max-width: 1024px) {
    .contactStart {
        width: 100%;
        min-height: 92vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.70), #3551b5), url(../assests/img/project/assignment.jpg);
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover;
        display: flex;
        align-items: center;
        justify-items: center;
        position: absolute;
    }
}
@media all and (max-width: 768px) {
    .contactStart {
        width: 100%;
        min-height: 77vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.70), #3551b5), url(../assests/img/project/assignment.jpg);
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover;
        display: flex;
        align-items: center;
        justify-items: center;
        position: absolute;
    }
}