footer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    bottom: -630px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
    position: relative;
}
#footer-section{
    background: #151414;
    position: relative;
    padding: 20px 15%;
}
#footer-content{
    /*margin-top: 50px;*/
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
#footer-content i{
    color: purple;
    font-size: 40px;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}
#footer-content span{
    color: #757575;
    font-size: 15px;
}
#footer-content h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.top-dt{
    display: flex;
}
#footer-to-content-wrapper{
    border-bottom: 1px solid #373636;
}
#footer-bottom-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    margin-top: 80px;
}
#footer-bottom-left{
    max-width: 33%;
    margin-right: 5%;
}
#footer-logo{
    margin-bottom: 30px;
}
#footer-logo img{
    max-width: 250px;
}
.footer-text p{
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
#footer-socials span{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.footer-center-heading h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
/*.footer-center-heading h3::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 282px;*/
/*    bottom: -3px;*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    background: purple;*/
/*}*/

#footer-bottom-center ul li{
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 25px;
}
#footer-bottom-center ul li a:hover{
    color: purple;
}
#footer-bottom-center ul li a{
    color: #878787;
    text-transform: capitalize;
}
#footer-bottom-right{
    width: 50%;
}


/*/Media Query/*/

@media all and (max-width:426px) {
    #footer-content span {
        color: #757575;
        font-size: 9px;
    }

    #footer-content h4 {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 1px;
    }

    .footer-center-heading h3 {
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 16px;
        position: relative;
    }
    #footer-bottom-center ul li {
        display: inline-block;
        float: left;
        width: 50%;
        font-size: 12px;
        margin-bottom: 21px;
    }
    .footer-text p {
        margin-bottom: 16px;
        font-size: 8px;
        color: #7e7e7e;
        line-height:16px;
        }
}



/*media query*/

@media all and (max-width:375px) {
    #footer-content {
        /* margin-top: 50px; */
        display: block;
        justify-content: space-around;
        padding-bottom: 60px;
    }
    #footer-content span {
        color: #757575;
        font-size: 15px;
    }
}

@media all and (max-width:768px) {
    .footer-text p {
        margin-bottom: 23px;
        font-size: 13px;
        color: #7e7e7e;
        line-height: 20px;
    }
}

@media all and (max-width:500px) {
    #footer-content {
        margin-top: 24px;
        display: block;
        justify-content: space-around;
        padding-bottom: 50px;
    }
    .contactStart {
        width: 100%;
        min-height: 103vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.70), #3551b5), url(../assests/img/project/assignment.jpg);
        background-position: center;
        /* background-repeat: no-repeat; */
        background-size: cover;
        display: flex;
        align-items: center;
        justify-items: center;
        position: absolute;
    }
    .footer-text p {
        margin-bottom: 10px;
        font-size: 9px;
        color: #7e7e7e;
        line-height: 10px;
    }
}