body{
    /*background-color:rgb(190,106,211);*/
    background: linear-gradient(176deg,purple, white);
    overflow-x: hidden;
    width: 100%;
    height: content-box;
    position: relative;
}


header{
    width: 100vw;
    height: 50px;
    background-color: plum;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}
@media all and (max-width: 900px) {
    nav>center>h2{
        width: 100vw;
        height: 30px;
        background-color: plum;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        position: relative;
    }
}
nav>center{
    position: absolute;
    right: 0;
    top: 0;
}

nav>center>h2{
    color: black;
    list-style-type: none;
    margin: 2px 20px;
    opacity: 0;
    transform: translateY(-25px);
    animation: animation 3s linear forwards;
}

@keyframes animation {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

nav>center>h2>a{
    display: inline;
    margin: 2px 20px;
}
footer{
    width: 100vw;
    bottom: 0;
    position: relative;
}

footer>div{
    width: 100vw;
    display: flex;
    background-color: rgb(73,1,99);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: absolute;
}

.footer{
    width: 500px;
    position: absolute;
    font-size: 40px;
}

.navigate{
    width: 500px;
    left: 90%;
    position: absolute;
    margin: 5px;
}
.from{
    width: 500px;
    top: 1px;
    left: 60%;
    position: absolute;
}

.main{
    width: 500px;
    left: 40%;
    position: relative;
    margin: 5px;
}

.Contact{
    color: orange;
    font-size: 20px;
}

.letter{
    color: white;
}