body{
    background-color:rgb(190,106,211);
    overflow-x: hidden;
}
.sec{
    top: 40px;
    width: content-box;
    left: 20%;
    position: absolute;
    font-size:20px ;
}

.submit{
    width: content-box;
    left: 60%;
    top: 50vh;
    position: absolute;
    background-color: aqua;
    font-size: 30px;
    border-radius:10px 10px;
}

.pro{
    width: 200px;
    height: 15px;
    left: 80%;
    position: absolute;
    margin-left: 80px;

}

.div{
    position: relative;
    left: 20%;
    width: 800px;
    height: 400px;
    background: repeating-conic-gradient(from var(--i),deeppink 0%, deeppink 5%,transparent 5%,deeppink 50%);
    animation: animate 4s linear infinite;
}
/*@property  --i {*/
/*    syntax :'<angel>';*/
/*    inherits  : false;*/
/*    initial-value: 0;*/
/*    */
/*}*/

@keyframes animate {
    0%{
        --i :0deg
    }

    0%{
        --i :0deg
    }
}