body{
    position: relative;
    overflow-x: hidden;
}
header{
    position: relative;
}
header>img:nth-child(1){
    width: 350px;
    height: 380px;
    position: absolute;
    left: 23%;
    top: 18vh;
    border-radius: 100%;
}
@media all and (max-width: 900px) {
    header>img:nth-child(1){
        position: absolute;
        left: 20px;
        top: 10px;
        height: 45px;
    }
}
@media all and (max-width: 900px) {
    .t1>span{
        /*top: 20px;*/
        font-size: 25px;
    }
}
@media all and (max-width: 900px) {
    #text-box>t2{
        font-size: 150px;
    }
}

header>nav{
    position: absolute;
    right: 0;
}
header>nav>h2>a{
    margin: 2px 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: animation 8s linear forwards;

}

@keyframes animation {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

header>h3{
    margin: 0;
}
.mainphoto{
    width: 100%;
}
@media all and (max-width: 900px) {
    .hikg{
        top: 20px;
       width: 900px;
        height: 900px;
    }
}
.hikg{
    opacity: 0;
    transform: translateY(30px);
    animation: my_animations 3s linear forwards;
}
@keyframes my_animations {
    100% {
        opacity: 1;
        transform: translateY(0px);
        width: 350px;
    }

}
.t2{
    width: content-box;
    position: absolute;
    left: 50%;
    top: 35vh;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px black;
    background: url("https://e7.pngegg.com/pngimages/604/552/png-clipart-white-red-and-gray-slash-illustration-brand-pattern-line-border-border-frame-thumbnail.png");
    /*background: url("https://e7.pngegg.com/pngimages/460/198/png-clipart-red-and-black-line-art-line-euclidean-computer-file-line-angle-abstract-lines-thumbnail.png");*/
    /*background: url("https://e7.pngegg.com/pngimages/541/54/png-clipart-green-slash-cool-lines-geometry-color-cool-lines-miscellaneous-blue-thumbnail.png");*/
    -webkit-background-clip: text;
    background-position: 0 0;
    animation:back 20s linear infinite;

}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }

}

.t3{
    width: content-box;
    position: absolute;
    left: 50%;
    top: 50vh;
    font-size: 30px;
}

.hire{
    width: content-box;
    height: content-box;
    position: absolute;
    left: 75%;
    top: 70vh;
    font-size: 25px;
}
.hire>button{
    background-color: palevioletred;
    border-radius: 10px 10px 10px 10px;
}
@media all and (max-width: 900px) {
    .hire{
        width: content-box;
        height: content-box;
        position: absolute;
        left: 70%;
        top: 50vh;
        font-size: 20px;
    }
}

.nav{
    width: content-box;
    position: absolute;
    left: 50%;
    top: 80vh;
    color: blue;
    margin: 10px;
}
@media all and (max-width: 900px) {
    .nav{
        width: content-box;
        position: absolute;
        left: 40%;
        top: 55vh;
        color: blue;
        margin: 10px;
    }
}
@media all and (max-width: 900px) {
    .aboutImg{
        width: 400px;
        top: 100vh;
    }
}

.kavi{
    width: content-box;
    top: 150vh;
    position: absolute;
    left: 40%;
    font-size: 35px;
}
@media all and (max-width: 900px) {
    .kavi{
        width: content-box;
        top: 90vh;
        position: absolute;
        left: 50%;
        font-size: 30px;
    }
}
.description{
    width: content-box;
    top: 160vh;
    position: absolute;
    left: 40%;
    font-size: 25px;
}
@media all and (max-width: 900px) {
    .description{
        width: content-box;
        top: 110vh;
        position: absolute;
        left: 50%;
        font-size: 20px;
    }
}
.download{
    width: content-box;
    top: 190vh;
    position: absolute;
    left: 75%;
    font-size: 25px;
}
@media all and (max-width: 900px) {
    .download{
        width: content-box;
        top: 130vh;
        position: absolute;
        left: 60%;
        font-size: 20px;
    }
}
.download>button{
    background-color:orange;
    border-radius: 10px 10px 10px 10px;
}
@media all and (max-width: 900px) {
    .download>button{
        background-color:orange;
        border-radius: 5px 5px 5px 5px;
    }
}

@media all and (max-width: 900px) {
    .tools{
       font-size: 20px;
    }
}
@media all and (max-width: 900px) {
    #tool{
        width: 10px;
        margin-left: 2px;
    }
}


section{
    width: content-box;
    position: relative;
    margin-left: 70px;
}
section>a{
    margin: 2px 20px;
}
footer{
    width: 100vw;
    bottom: 0;
    position: relative;
}

footer>div{
    width: 100vw;
    height:22vw ;
    display: flex;
    background-color: rgb(73,1,99);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: absolute;
}

.footer{
    width: 500px;
    position: absolute;
    font-size: 40px;
}

.navigate{
    width: 500px;
    left: 90%;
    position: absolute;
    margin: 5px;
}
.from{
    width: 500px;
    top: 1px;
    left: 60%;
    position: absolute;
}

.main{
    width: 500px;
    left: 40%;
    position: relative;
    margin: 5px;
}

.Contact{
    color: orange;
    font-size: 20px;
}
.letter{
    color: white;
}
span{
    font-size: 40px;
    font-weight: 700;
}


.t1{
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateY(-50%);
    top: 34vh;
    left: 50%;
    text-align: center;
    color: black;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;

}
@media all and (max-width: 900px) {
    .t1{
        color: black;
        font-size: 3em;
        font-family: sans-serif;
        letter-spacing: 0.2em;
    }
}

.t1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);

    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);

    }
}
vedio{
    object-fit: cover;
}

.t1 span:nth-child(1){
    animation-delay: 1s;
}
.t1 span:nth-child(2){
    animation-delay: 2s;
}
.t1 span:nth-child(3){
    animation-delay: 2.5s;
}
.t1 span:nth-child(4){
    animation-delay: 3s;
}
.t1 span:nth-child(5){
    animation-delay: 3.5s;
}


