.main{
    width: content-box;
    position: relative;
    left: 25%;
    font-size: 20px;
}
.title4{
    width: content-box;
    position: relative;
    top: 5vh;
}

.div {
    width: 500px;
    background: linear-gradient(176deg,plum, white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    left: 20vh;
    border-bottom: 10vw;
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .div {
        width: 500px;
        position: relative;
        border-radius: 10px 10px 10px 10px;
        left: 5vh;
        border-bottom: 10vw;
    }

}

@media all and (min-width: 375px) and (max-width: 425px) {
    .div {
        width: 250px;
        position: relative;
        border-radius: 10px 10px 10px 10px;
        left: 0vh;
        border-bottom: 10vw;
    }
    .div>h3{
        position: relative;
        left: 10px;
    }
}
@media all and  (max-width: 375px) {
    .div {
        width: 250px;
        position: relative;
        border-radius: 10px 10px 10px 10px;
        left: 0vh;
        border-bottom: 10vw;
    }
    .div>h3{
        position: relative;
        left: 10px;
    }
}
@media all and  (max-width: 320px) {
    .div {
        width: 250px;
        position: relative;
        border-radius: 10px 10px 10px 10px;
        left: 0vh;
        border-bottom: 10vw;
    }

    .div > h3 {
        position: relative;
        left: 10px;
    }
    .main{
        width: content-box;
        position: relative;
        left: 6%;
        font-size: 20px;
    }
}
