/* Project */
.project{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.btnCode{
    font-size: 20px;
    width: 60px;
    color: white;
    background: black;
}
.btnCode:hover{
    font-size: 30px;
    width: 70px;
    color: purple;
    background: plum;
}

.arrow{
    width: 13px;
    color: white;
    padding: 0;
    margin: 0;
}
.project-section{
    display: block;
}
.my-project-carousel {
    padding: 20px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-project-carousel > * {
    flex: 0 0 auto;
}
.my-project-carousel .project-carousel-item {
    margin: 0;
    width: 40%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.my-project-carousel .project-carousel-item img {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
.my-project-carousel .project-carousel-item img:hover .my-project-header{
    background-color: #cc0000;
}
.my-project-carousel .project-carousel-item img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}
.my-project-carousel .project-carousel-nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.my-project-carousel .project-carousel-nav div {
    width: 400px;
}
.my-project-carousel .project-carousel-nav div h5{
    font-weight: bold;
}
.my-project-carousel .project-carousel-nav div p{
    font-size: 13px;
}
.my-project-carousel .project-carousel-nav button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #FFFFFF;
    border: 0;
    margin: -7px -14px;
}

/*/Media Query/*/

@media all and (max-width:426px) {
    .my-project-carousel .project-carousel-nav div {
        width: 279px;
    }
}

@media all and (max-width:321px) {
    .my-project-carousel .project-carousel-nav div {
        width: 209px;
    }
    .btnCode {
        font-size: 14px;
        width: 64px;
        position: absolute;
        color: white;
        background: black;
        top:98%;
        }
}


@media all and (max-width:500px) {
    .my-project-carousel .project-carousel-nav div p {
        position: relative;
        margin: auto;
        font-size: 15px;
    }
    .btnCode {
        margin: auto;
        font-size: 20px;
        width: 48px;
        position: relative;
        color: white;
        background: black;
    }
}

@media all and (max-width:1024px) {
    .my-project-carousel .project-carousel-nav div p {
        font-size: 16px;
    }
    .my-project-carousel .project-carousel-nav div h5 {
        font-weight: bold;
        font-size: 21px;
    }
}