
.box>a>img{
    width: 200px;
    top: 150px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;

}

.box2>a>img{
    width: 200px;
    top: 310px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;

}

.box3>a>img{
    width: 200px;
    top: 470px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;

}

.box4>a>img{
    width: 100px;
    top: 600px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
    margin: 5px;

}


.box5>a>img{
    width: 100px;
    top: 860px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;

}

.project{
    font-size: 30px;
    left: 20%;
    position: relative;
    font-size: 40px;
    width: content-box;
    font-weight: 10000;
}

.box>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 20px;
}

.box>p{
    width: 500px;
    top: 33px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box>nav>a>button{
    width: content-box;
    top: 20px;
    left: 60%;
    position: relative;
    font-size: 20px;
}



.box2>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 20px;
}

.box2>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box2>nav>a>button{
    width: content-box;
    top: 30px;
    left: 60%;
    position: relative;
    font-size: 20px;
}


.box3>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}

.box3>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box3>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}


.box4>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}

.box4>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box4>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}

.box5>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}

.box5>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box5>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}
.box{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
/*@media all and (max-width: 1440px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 800px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/

/*@media all and (min-width: 768px) and (max-width: 1024px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 700px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/
/*@media all and (min-width: 425px) and (max-width: 768px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 600px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/
/*@media all and (min-width: 375px) and (max-width: 425px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 500px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/
/*@media all and (min-width: 320px) and (max-width: 375px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 400px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/
/*@media all and (max-width: 320px){*/
/*    .box{*/
/*        background:  linear-gradient(170deg,gray, white);*/
/*        width: 10px;*/
/*        height: content-box;*/
/*        border-radius: 20px 0 20px;*/

/*    }*/
/*}*/

.box2{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box3{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box4{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box5{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}

@media screen and (min-width: 1441px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
    .box,
    .box2,
    .box3,
    .box4,
    .box5 {
        width: 45%;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .box,
    .box2,
    .box3,
    .box4,
    .box5 {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .box,
    .box2,
    .box3,
    .box4,
    .box5 {
        width: 100%;
    }
}