.box>a>img{
    width: 200px;
    top: 150px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
}
.box2>a>img{
    width: 200px;
    top: 310px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;

}
.box3>a>img{
    width: 200px;
    top: 470px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
}

.box4>a>img{
    width: 100px;
    top: 600px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
    margin: 5px;
}

.box5>a>img{
    width: 100px;
    top: 860px;
    left: 80%;
    z-index: 2;
    transform: translateX(-50%);
    position: absolute;
}

.project{
    font-size: 30px;
    left: 20%;
    position: relative;
    font-size: 40px;
    width: content-box;
    font-weight: 10000;
}

.box>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 20px;
}

.box>p{
    width: 500px;
    top: 33px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box>nav>a>button{
    width: content-box;
    top: 20px;
    left: 60%;
    position: relative;
    font-size: 20px;
}

.box2>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 20px;
}
.box>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 20px;
}

.box2>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box2>nav>a>button{
    width: content-box;
    top: 30px;
    left: 60%;
    position: relative;
    font-size: 20px;
}


.box3>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}
.box>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}
.box2>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}


.box3>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box3>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}


.box4>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}

.box4>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box4>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}

.box5>h3{
    width: 500px;
    top: 30px;
    left: 20%;
    position: relative;
    font-size: 25px;
}

.box5>p{
    width: 500px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 15px;
}

.box5>nav>a>button{
    width: content-box;
    top: 29px;
    left: 60%;
    position: relative;
    font-size: 20px;
}
.box{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}

.box2{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box3{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box4{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}
.box5{
    background:  linear-gradient(170deg,gray, white);
    width: 800px;
    height: content-box;
    border-radius: 20px 0 20px;

}

/*          box       */
@media all and (max-width: 1440px){
    .box{
        background:  linear-gradient(170deg,gray, white);
        width: 800px;
        height: content-box;
        border-radius: 20px 0 20px;

    }

    .box2{
        background:  linear-gradient(170deg,gray, white);
        width: 800px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box3{
        background:  linear-gradient(170deg,gray, white);
        width: 800px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box4{
        background:  linear-gradient(170deg,gray, white);
        width: 800px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box5{
        background:  linear-gradient(170deg,gray, white);
        width: 800px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
}

@media all and (max-width: 1024px){
    .box{
        background:  linear-gradient(170deg,gray, white);
        width: 700px;
        height: content-box;
        border-radius: 20px 0 20px;

    }

    .box2{
        background:  linear-gradient(170deg,gray, white);
        width: 700px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box3{
        background:  linear-gradient(170deg,gray, white);
        width: 700px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box4{
        background:  linear-gradient(170deg,gray, white);
        width: 700px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box5{
        background:  linear-gradient(170deg,gray, white);
        width: 700px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box>a>img{
        width: 200px;
        top: 170px;
        left: 88%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box2>a>img{
        width: 200px;
        top: 350px;
        left: 88%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box3>a>img{
        width: 200px;
        top:550px;
        left: 88%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box4>a>img{
        width: 80px;
        top:700px;
        left: 88%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box5>a>img{
        width: 80px;
        top:920px;
        left: 88%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
}
@media all and (max-width: 768px){
    .box{
        background:  linear-gradient(170deg,gray, white);
        width: 500px;
        height: 200px;
        border-radius: 20px 0 20px;

    }

    .box2{
        background:  linear-gradient(170deg,gray, white);
        width: 500px;
        height: 200px;
        border-radius: 20px 0 20px;

    }
    .box3{
        background:  linear-gradient(170deg,gray, white);
        width: 500px;
        height: 200px;
        border-radius: 20px 0 20px;

    }
    .box4{
        background:  linear-gradient(170deg,gray, white);
        width: 500px;
        height: 200px;
        border-radius: 20px 0 20px;

    }
    .box5{
        background:  linear-gradient(170deg,gray, white);
        width: 500px;
        height: 200px;
        border-radius: 20px 0 20px;

    }
    .box>a>img{
        width: 200px;
        top: 180px;
        left: 85%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box2>a>img{
        width: 200px;
        top: 400px;
        left: 85%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box3>a>img{
        width: 200px;
        top:650px;
        left: 85%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box4>a>img{
        width: 80px;
        top:850px;
        left: 85%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box5>a>img{
        width: 80px;
        top:1100px;
        left: 85%;
        z-index: 2;
        transform: translateX(-50%);
        position: absolute;

    }
    .box>h3{
        width: 500px;
        top: 30px;
        left: 20%;
        position: relative;
        font-size: 20px;
    }

    .box>p{
        width: 500px;
        top: 32px;
        left: 8%;
        position: relative;
        font-size: 15px;
    }
    .box2>h3{
        width: 500px;
        top: 30px;
        left: 20%;
        position: relative;
        font-size: 20px;
    }

    .box2>p{
        width: 500px;
        top: 32px;
        left: 8%;
        position: relative;
        font-size: 15px;
    }
    .box3>h3{
        width: 500px;
        top: 30px;
        left: 12%;
        position: relative;
        font-size: 20px;
    }

    .box3>p{
        width: 500px;
        top: 32px;
        left: 8%;
        position: relative;
        font-size: 15px;
    }
    .box4>h3{
        width: 500px;
        top: 30px;
        left: 20%;
        position: relative;
        font-size: 20px;
    }

    .box4>p{
        width: 500px;
        top: 32px;
        left: 8%;
        position: relative;
        font-size: 15px;
    }
    .box5>h3{
        width: 500px;
        top: 30px;
        left: 20%;
        position: relative;
        font-size: 20px;
    }

    .box5>p{
        width: 500px;
        top: 32px;
        left: 8%;
        position: relative;
        font-size: 15px;
    }

}
@media all and (max-width: 425px){
    .box{
        background:  linear-gradient(170deg,gray, white);
        width: 400px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box2{
        background:  linear-gradient(170deg,gray, white);
        width: 400px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box3{
        background:  linear-gradient(170deg,gray, white);
        width: 400px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box4{
        background:  linear-gradient(170deg,gray, white);
        width: 400px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
    .box5{
        background:  linear-gradient(170deg,gray, white);
        width: 400px;
        height: content-box;
        border-radius: 20px 0 20px;

    }
}
@media all and  (max-width: 375px){
    .box>a>img{
        width: 200px;
        top: 0;
        left: 50%;
    }
    .cart{
        position: relative;
        top: 130px;
        width: 270px;
        left: 20px;
        background:  linear-gradient(170deg,gray, white);
    }
    .box{
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }
    .box2>a>img{
        width: 200px;
        top: 100px;
        left: 50%;
    }
    .cart2{
        position: relative;
        top: 230px;
        left: 20px;
        width: 270px;
        height: 120px;
        background:  linear-gradient(170deg,gray, white);
    }
    .box2{
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }
    .box2>a>img{
        width: 200px;
        top: 100px;
        left: 50%;
    }
    .cart3{
        position: relative;
        top: 350px;
        left: 20px;
        width: 270px;
        height: 147px;
        background:  linear-gradient(170deg,gray, white);
    }
    .box3{
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }
    .box3>a>img{
        width: 200px;
        top: 230px;
        left: 50%;
    }
    .cart4{
        position: relative;
        top: 570px;
        left: 20px;
        width: 270px;
        height: 120px;
        background:  linear-gradient(170deg,gray, white);
    }
    .box4{
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }
    .box4>a>img{
        width: 100px;
        top: 350px;
        left: 50%;
    }
    .cart5{
        position: relative;
        top: 750px;
        left: 20px;
        width: 270px;
        height: 120px;
        background:  linear-gradient(170deg,gray, white);
    }
    .box5{
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }
    .box5>a>img{
        width: 100px;
        top: 600px;
        left: 50%;
    }
}
@media all and (max-width: 320px) {
    .box > a > img {
        width: 200px;
        top: 0;
        left: 50%;
    }

    .cart {
        position: relative;
        top: 130px;
        width: 270px;
        left: 20px;
        background: linear-gradient(170deg, gray, white);
    }

    .box {
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box2 > a > img {
        width: 200px;
        top: 100px;
        left: 50%;
    }

    .cart2 {
        position: relative;
        top: 230px;
        left: 20px;
        width: 270px;
        height: 120px;
        background: linear-gradient(170deg, gray, white);
    }

    .box2 {
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box2 > a > img {
        width: 200px;
        top: 100px;
        left: 50%;
    }

    .cart3 {
        position: relative;
        top: 350px;
        left: 20px;
        width: 270px;
        height: 147px;
        background: linear-gradient(170deg, gray, white);
    }

    .box3 {
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box3 > a > img {
        width: 200px;
        top: 230px;
        left: 50%;
    }

    .cart4 {
        position: relative;
        top: 570px;
        left: 20px;
        width: 270px;
        height: 120px;
        background: linear-gradient(170deg, gray, white);
    }

    .box4 {
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box4 > a > img {
        width: 100px;
        top: 350px;
        left: 50%;
    }

    .cart5 {
        position: relative;
        top: 750px;
        left: 20px;
        width: 270px;
        height: 120px;
        background: linear-gradient(170deg, gray, white);
    }

    .box5 {
        position: relative;
        top: 0px;
        background: none;
        width: 300px;
        height: content-box;
        border-radius: 20px 0 20px;
    }

    .box5 > a > img {
        width: 100px;
        top: 600px;
        left: 50%;
    }

    .project {
        font-size: 30px;
        left: 10%;
        position: relative;
        font-size: 40px;
        width: content-box;
        font-weight: 10000;
    }

}