{
    width: 100vw;
    height: content-box;
    /*display: flex;*/
    position: relative;
    top: 5vw;
}
.subhead{
    width: fit-content;
    position: relative;
    left: 4%;
}
.container{
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    border: 0;
    position: relative;
    left: 2%;
}
.skill h2{
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000;
    font-size: 16px;
}
.progress-bar{
    background: #959595;
    width: 1000px;
    height: 20px;
    border-radius: 5px;
}
.progress-bar div{
    height: 20px;
    border-radius: 5px;
    width: 0%;

}
.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    float: right;
    margin-top: -11px;
    margin-right: -20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.html{
    background: red;
    animation: html 2s linear forwards;
}
.css{
    background: gold;
    animation: css 2s linear forwards;
}
.photoshop{
    background: green;
    animation: photoshop 2s linear forwards;
}
.javascript{
    background: deeppink;
    animation: javascript 2s linear forwards;
}
.python{
    background: darkmagenta;
    animation: python 2s linear forwards;
}
.database{
    background: mediumspringgreen;
    animation: database 2s linear forwards;
}
.design{
    background: palegoldenrod;
    animation: design 2s linear forwards;
}
.nodejs{
    background: darkblue;
    animation: nodejs 2s linear forwards;
}
.coading{
    background: mediumvioletred;
    animation: coading 2s linear forwards;
}
.c\+\+{
    background: greenyellow;
    animation: c\+\+ 2s linear forwards;
}
@keyframes html {
    100%{
        width: 80%;
    }
}
@keyframes css {
    100%{
        width: 70%;
    }
}
@keyframes photoshop {
    100%{
        width: 90%;
    }
}
@keyframes javascript {
    100%{
        width: 80%;
    }
}
@keyframes python {
    100%{
        width: 75%;
    }
}
@keyframes database {
    100%{
        width: 90%;
    }
}
@keyframes design {
    100%{
        width: 75%;
    }
}
@keyframes nodejs {
    100%{
        width: 72%;
    }
}
@keyframes coading {
    100%{
        width: 80%;
    }
}
@keyframes c\+\+ {
    100%{
        width:60%;
    }
}

/*.skillSection{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/

/*}*/
/*.skillSection>body{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    background: #222;*/

/*}*/
/*.skillContainer{*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    gap: 40px;*/
/*}*/
/*.skillContainer.progress{*/
/*    position: relative;*/
/*    width: 150px;*/
/*    height: 150px;*/
/*    border-radius: 50%;*/
/*    color: #fff;*/
/*    background: #444 linear-gradient(to right, transparent 50%, var(--clr)0);*/
/*}*/
