main{
    display: flex;
}
.skill{
    width: content-box;
    font-size: 50px;
    left: 20%;
    position: relative;
    font-weight: 7000;
}
.kavi{
    width: 24%;
    height: 20vw;
    position: relative;
    display: inline-block;
    left: 2%;
}

.img{
    width: 120px;
    top: 32px;
    left: 9%;
    position: relative;
    font-size: 20px;
    margin-left: 280px;
}

.h{
    width: 350px;
    top: 32px;
    left: 15%;
    position: relative;
    font-size: 20px;
}
.p{
    width: 350px;
    top: 35px;
    left: 7%;
    position: relative;
    font-size: 15px;
}

.presentage{
    width: content-box;
    top: 5px;
    margin-top: 10px;
    left: 50%;
    position: relative;
    font-size: 20px;
}
.imgflex{
    display: flex;
}
.hflex{
    display: flex;
}
.pflex{
    display: flex;
}
.progress-title{
    width: 50%;
    height: auto;
    left: 30%;
    position: relative;
}
.progress-title h3{
    font-size: 18px;
    font-weight: 700;
    color: black;
    margin: 0 0 20px;
}
.progress{
    height: 20px;
    background: white;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px plum;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
    border-radius: 20px;
    border: 10px solid blue;
    animation: animate-positive 2s;


}
.progress .progress-value{
    width: 65px;
    height: 25px;
    line-height: 25px;
    background: #171b3c;
    font-size: 15px;
    color: #fff;
    border-radius: 0 0 15px 15px;
    border: 1px solid white;
    border-top: none;
    box-shadow: 0 2px 2px #4f4c4c ;
    position: absolute;
    bottom: -25px;
    right: 60px;
}
@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }

}
@keyframes animate-positive {
    0% {
        width: 0;
    }

}